.git
.gitignore
README.md
.env.testing
.env.OLD
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
Thumbs.db
*.sql
*.md
.server.pid
.workers.pid
composer_packages_to_install.txt
_backups/